---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Us"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('October 01 2024')}
	heroImage="/about.webp"
>
	<p>
		Welcome to the Technology Business Incubator at Graphic Era (Deemed to be University) [TBI-GEU], established in 2015 by the Department of Science and Technology, Government of India. As the first recognized incubator in Uttarakhand since 2018, we have been pivotal in fostering innovation and entrepreneurship. We support startups, helping them overcome challenges, attract talent and investment, and contribute to the local economy. We are proud of our vibrant entrepreneurial community and are committed to supporting more ventures in the future.	
	</p>

</Layout>
