---
import Container from "./container.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

var base = import.meta.env.BASE_URL

const menuitems = [
  {
    title: "Home",
    path: base+"/",
  },
  {
    title: "About",
    path: base+"/about",
  },
  {
    title: "Events",
    path: base+"/events",
  },
  {
    title: "Skill Development",
    path: base+"/careers",
  },
  {
    title: "Incubation",
    path: base+"/startups",
  },
  {
    title: "Resources",
    path: base+"/resources",
  },
  {
    title: "Community",
    path: base+"/community",
  },
];
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav >
      <div class="flex w-full xl:w-auto items-center justify-between">
        <a href={base} class="text-lg">
          <img
            src={`${base}/logo/logo.png`}
            class="h-14 w-14 md:h-18 md:w-18"
          />

        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-12 h-12 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0 lg:justify-center lg:flex-grow">
        <ul class="flex flex-col lg:flex-row lg:gap-3 lg:justify-center lg:items-center w-full">
          {
            menuitems.map((item) => (
              <li>
                <a
                  href={item.path}
                  class="flex lg:px-3 py-2 items-center text-gray-600 hover:text-gray-900"
                >
                  <span class="text-lg font-semibold">{item.title}</span>
                </a>
              </li>
            ))
          }
        </ul>
      </MenuItems>
    </Astronav>
  </header>
</Container>